<footer>
  <p class="left-text">Designed and coded with ❤️.</p>
  <p class="center-text">Réparation Professionnels 🇹 Smartphones Hardware et Software ⚒
    Changement tout types des Afficheurs.</p>  <div class="social-icons">
    <a href="https://www.facebook.com/gsm.guide.9" target="_blank"><img src="../assets/images/fb.png" alt="Facebook"></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/in.png" alt="Instagram"></a>
    <a href="https://www.youtube.com/@GsmGuide" target="_blank"><img src="../assets/images/yt.png" alt="YouTube"></a>
    <a href="https://www.tiktok.com/@gsmguidetn" target="_blank"><img src="../assets/images/tk.png" alt="TikTok"></a>
  </div>
</footer>
