<div class="LoginPageDefaultStates1920" style="width: 1724px; height: 919px; position: relative; background: white">
  <div class="Right" style="width: 745px; height: 605px; left: 872px; top: 177px; position: absolute">
    <div class="DonTHaveAnAccountLogIn" style="left: 239px; top: 585px; position: absolute"><span style="color: #2D3748; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 19.60px; word-wrap: break-word">Don’t have an account? </span><span style="color: #007AFF; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 19.60px; word-wrap: break-word">Log In</span></div>
    <div class="Form" style="width: 745px; height: 495px; left: 0px; top: 58px; position: absolute">
      <div class="LoginButton" style="width: 358px; height: 48px; left: 178px; top: 447px; position: absolute">
        <button class="Rectangle4" style="width: 358px; height: 48px; left: 0px; top: 0px; position: absolute; background: #007AFF; border-radius: 5px"></button>
        <div class="CreateAccount" style="width: 113.49px; left: 122px; top: 12px; position: absolute; color: white; font-size: 14px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Create account</div>
      </div>
      <div class="EntryField" style="width: 745px; height: 264px; left: 0px; top: 0px; position: absolute">
        <div class="EntryField" style="width: 358px; height: 72px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="FirstName" style="color: #2D3748; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 19.60px; word-wrap: break-word">First name</div>
          <div class="Group16" style="width: 358px; height: 48px; position: relative">
            <div class="Rectangle3" style="width: 358px; height: 48px; left: 0px; top: 0px; position: absolute; border-radius: 5px; border: 1px #D1D1D1 solid"></div>
          </div>
        </div>
        <div class="EntryField" style="width: 358px; height: 72px; left: 0px; top: 96px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="FirstName" style="color: #2D3748; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 19.60px; word-wrap: break-word">Email or phone number</div>
          <div class="Rectangle3" style="width: 358px; height: 48px; border-radius: 5px; border: 1px #D1D1D1 solid"></div>
        </div>
        <div class="EntryField" style="width: 358px; height: 72px; left: 0px; top: 192px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="FirstName" style="color: #2D3748; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 19.60px; word-wrap: break-word">Password</div>
          <div class="Rectangle3" style="width: 358px; height: 48px; border-radius: 5px; border: 1px #D1D1D1 solid"></div>
        </div>
        <div class="EntryField" style="width: 358px; height: 72px; left: 387px; top: 192px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="FirstName" style="color: #2D3748; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 19.60px; word-wrap: break-word">Confirm password</div>
          <input class="Rectangle3" hint="confirm Password" style="width: 358px; height: 48px; border-radius: 5px; border: 1px #D1D1D1 solid">
        </div>
        <div class="EntryField" style="width: 358px; height: 72px; left: 387px; top: 108px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="FirstName"><span style="color: #2D3748; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 19.60px; word-wrap: break-word">Date of birth </span><span style="color: #2D3748; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">(MM/DD/YY)</span></div>
          <input class="Rectangle3" style="width: 358px; height: 48px; border-radius: 5px; border: 1px #D1D1D1 solid">
        </div>
        <div class="EntryField" style="width: 358px; height: 72px; left: 387px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="FirstName" style="color: #2D3748; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 19.60px; word-wrap: break-word">Last name</div>
          <input class="Rectangle3" style="width: 358px; height: 48px; border-radius: 5px; border: 1px #D1D1D1 solid">
        </div>
      </div>
    </div>
    <div class="Text" style="width: 219px; height: 39px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
      <div class="CreateAccount" style="color: #1D1D1D; font-size: 28px; font-family: Poppins; font-weight: 600; line-height: 39.20px; word-wrap: break-word">Create account</div>
    </div>
  </div>
  <div class="EntryField" style="left: 878px; top: 527px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
    <div class="FirstName" style="color: #2D3748; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 19.60px; word-wrap: break-word">Confirm password</div>
    <input class="Rectangle3" style="width: 358px; height: 48px; border-radius: 5px; border: 1px #D1D1D1 solid">
  </div>
  <img class="Logo1" style="width: 103px; height: 78px; left: 872px; top: 59px; position: absolute" src="../assets/images/logo.png" />
  <img class="52866289480230721602528621861506234N1" style="width: 808px; height: 906px; left: 0px; top: 0px; position: absolute" src="../assets/images/f.png" />
</div>
